/*#userlist {
  display: inline-block;
  float:right;

}

#rooms {
  float:right;
}
*/

body{
	margin: 0;
	user-select: none;
	padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    flex-direction: column;
    height: 100%;
    min-width: 768px;
	display: flex;

	font-family: "Avenir", sans-serif;
	font-size: 13pt;
	color: #80b3b3;
	font-weight: 300;
}

h1{
	margin: 0;
	color: white;
	font-size: 20px;
}

h2{
	margin: 3px 20px;
	font-size: 10pt;
	font-weight: 500;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

li:hover{
	background-color: #132020;
}

li a{
	color: #80b3b3;
	text-decoration: none;
	padding: 5px 20px;
}

.container{
	height: 100%;
	overflow: auto;
}

#sidePanel{
	height: 100%;
	width: 200px;
	float: left;
	background-color: darkslategray;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	padding: 20px 20px 20px 0px;
	display: block;
}

#chat-area{
	background: white;
	height: 100%;
	margin-left: 220px;	
}

#title{
	padding: 0 20px;
}

#username{
	margin: 0;
	display: inline-block;
}

.sidePanelSection{
	margin-top: 25px;
	min-height: 90px;
}

.add-btn{
	border-radius: 25px;
	background: none;
	border: 1px solid #80b3b3;
	color: #80b3b3;

	float: right;
	display: inline-block;
}

.add-btn:hover{
	color: #cfe2e2;
	border-color: #cfe2e2;
}

#circle {
      width: 8px;
      height: 8px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      background: #6ac8bf;
      display: inline-block;
      margin-right: 5px;
    }

#chat-header{
	height: 56px;
	border-bottom: 0.5px solid darkgray;
	padding: 5px 15px;

	color: black;
	font-weight: bold;
	font-size: 14pt
}

.chat-channel-btn{
	border: none;
	padding: 0;
	background-color: white;

	font-family: "Avenir", sans-serif;
	font-style: italic;
	color: gray;
}

#message-container{
	height: 100%;
	background-color: black;
}

#footer{
	position: fixed;
	margin-left: 220px;
	height: 77px;
	right: 0;
	bottom: 0;
	left: 0;
	/*border-top: 0.5px solid darkgray;*/
}

#message-form{
	padding: 0px 20px;
}

#message-textarea{
	max-height: 22px;
	width: 100%;
	top: 0;
	right: 0;
	left: 0;
	border-radius: 10px;
	padding: 10px 22px;
	margin-right: 220px;

	font-family: "Avenir", sans-serif;
	font-size: 12pt;
}

.a-message{
	min-height: 50px;
}





